@model UserChangePasswordViewModel
@inject UserSession usr;
@inject ShoppingCart sp;


@{
	ViewData["title"] = "Alterar";
	var user = usr.GetUser();
	int total = 0;
	foreach (var item in sp.Search().ToList())
	{
		total += item.QuantidadeCarrinho;
	}
}



@if (user != null)
{
	<component type="typeof(CartInfoComponent)" Param-Valor="@total" Param-Nome="@user.Nome" render-mode="Static" />
}
else
{
	<component type="typeof(CartInfoComponent)" Param-Valor="@total" render-mode="Static" />
}

<section style="width: 100%;display: flex; height:100%; justify-content: center;align-items: center;">

	<component type="typeof(StatusSideComponent)" Param-Nome="@user.Nome" Param-Email="@user.Email" Param-CEP="@user.CEP" render-mode="Static" />


	<div style="width:60%;margin-left:10px;height:541px;display: flex;flex-flow: column;align-items: center; justify-content: center;background-color:dimgray;">

		@* <div style="display:flex;align-items:center;justify-content:center;position:absolute;top:667px;left:520px;padding:10px;">
			<i class="fas fa-folder"></i><a style="margin-left:10px;" asp-action="perfil" > PERFIL /</a> <a asp-action="alterarsenha" style="margin-left:5px;"> ALTERAR-SENHA</a>
		</div> *@

		<div style="display:flex;align-items:center;justify-content:center;padding:10px;">
			<i class="fas fa-folder"></i><a style="margin-left:10px;color:white;" asp-action="perfil" > PERFIL /</a> <a asp-action="alterarsenha" style="margin-left:5px;color:white;"> ALTERAR-SENHA</a>
		</div>

		<form method="post" asp-action="alterarsenha" asp-controller="user" class="card text-center card  " style="background-color:white;">

			<div class="card-header" style="margin: 1em 0em 1em 0em;"><h3 style="color:black">Alterar senha</h3></div>

			<div class="card-body">
				<label asp-for="@Model.Senha"></label>
				<input type="password" asp-for="@Model.Senha" id="userName" class="form-control input-sm chat-input" placeholder="Senha..." />
				<span class="alert-danger" asp-validation-for="@Model.Senha" style="margin:10px;font-size:11px;"></span>

				<br />

				<label asp-for="@Model.ConfirmarSenha"></label>
				<input type="password" asp-for="@Model.ConfirmarSenha" id="userPassword" class="form-control input-sm chat-input" placeholder="Senha..." />
				<span class="alert-danger" asp-validation-for="@Model.ConfirmarSenha" style="margin:10px;font-size:11px;"></span>
			</div>

			<br />

			@if (TempData["MSGS"] != null)
			{
				<span class="alert-success" style="margin:10px;"> <i class="fas fa-exclamation"></i> @TempData["MSGS"].ToString()</span>
			}

			<div class="card-footer text-muted" style="margin-top:1em;background-color:dimgray;border: 1px solid dimgray;opacity:0.8;">
				<button type="submit" class="btn btn-default" style="color:white;">Alterar</button>
			</div>
		</form>

	</div>

</section>