@model NewUserViewModel

@{
	ViewData["title"] = "Cadastrar";
}


<div class="container" style="display:flex; align-items:center; justify-content:center;width:100%; height:700px; padding:1em; ">

	<form method="post" asp-action="cadastrar" asp-controller="user" style="width:80%;background-color:white;margin-top:20px; margin-bottom:20px;padding:5px;display:flex;justify-content:center;flex-flow:column;text-align:center;">
		
			<label asp-for="@Model.Nome"></label>
			<input type="text" asp-for="@Model.Nome" id="userName" class="form-control input-sm chat-input" placeholder="Nome" />
			<span class="alert-danger" asp-validation-for="@Model.Nome" style="margin:10px;font-size:12px;"></span>
			</br>

			<label asp-for="@Model.Email"></label>
			<input type="email" asp-for="@Model.Email" id="userName" class="form-control input-sm chat-input" placeholder="Email" />
			<span class="alert-danger" asp-validation-for="@Model.Email" style="margin:10px;font-size:12px;"></span>
			</br>

			<label asp-for="@Model.Senha"></label>
			<input type="password" asp-for="@Model.Senha" id="userPassword" class="form-control input-sm chat-input" placeholder="Senha" />
			<span class="alert-danger" asp-validation-for="@Model.Senha" style="margin:10px;font-size:12px;"></span>
			</br>

			<label asp-for="@Model.ConfirmarSenha"></label>
			<input type="password" asp-for="@Model.ConfirmarSenha" id="userPassword" class="form-control input-sm chat-input" placeholder="Senha" />
			<span class="alert-danger" asp-validation-for="@Model.ConfirmarSenha" style="margin:10px;font-size:12px;"></span>
			</br>

			<label asp-for="@Model.CEP"></label>
			<input type="number" asp-for="@Model.CEP" class="form-control input-sm chat-input" placeholder="Digite o seu CEP" />
			<span class="alert-danger" asp-validation-for="@Model.CEP" style="margin:10px;font-size:12px;"></span>
			</br>


		<br />

		@if (TempData["MSGE"] != null)
		{
			<span class="alert-danger" style="margin:10px;">@TempData["MSGE"].ToString()</span>
		}

		<div class="card-footer text-muted" style="margin-top:1em;background-color:darkblue;">
			<button type="submit" class="btn btn-default" style="color:white;">Cadastrar</button>
		</div>
	</form>

</div>